.SignIn {
    margin: 0 auto;
}

.SignIn .Hint {
    font-size: 14px;
}

.SignIn .Hint .Link {
    margin-left: 5px;
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
}

@media (min-width: 600px) {
    .SignIn {
        width: 300px;
    }
}
