.ForgotPassword {
    margin: 0 auto;
}

.SuccessBlock {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.Link {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 600px) {
    .ForgotPassword {
        width: 300px;
    }
}
