.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.NavItem a {
    width: 100%;
    color: #8f5c2c;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #40a4c8;
}


@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        height: 100%;
        width: auto;

        display: flex;
        align-items: center;
    }

    .NavItem a {
        color: #fff;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavItem a:active,
    .NavItem a.active {
        color: #fff;
    }

    .NavItem a:hover {
        color: #c6c6c6;
    }
}
